*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
}

button, input, select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
